.header, .sidebar, .content {
    box-sizing: border-box;
    border: 2px solid darkgrey;
}

.page {
    background-color: lightblue;
    width: 100%;
    height: 100%;
}

.header {
    height: 50px;
}

.sidebar {
    height: 300px;
    width: 200px;
    float: left;
}

.content {
    height: 300px;
    float: right;
    width: calc(100% - 200px);
}